span#rendering {
  color: lightgray;
}

td {
  padding: 0.2em;
  text-align: center;
}

tr:nth-child(2n+3) {
  background-color: lightgray;
}


td:first-child {
  font-weight: bold;
  background-color: gray;
}

td:nth-child(2n+3) {
  background-color: beige;
}

td:first-child, tr:first-child > td {
  font-weight: bold;
  background-color: gray;
}
